body{
  font-family: 'Anton', sans-serif;
  color: rgba(44, 44, 44, 0.944);
  background-image: url("../images/background.jpg");
  
}

.fontclass{
  color: rgba(255, 255, 255, 0.8);
  /* text-align: center; */
}

.container-table {
  display: table;
}

.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}
